{% extends "base.html" %}
{% block title %}Accueil - AutoReg RDC{% endblock %}
{% block content %}
<div class="text-center mt-5 animate__animated animate__fadeIn">
    <h1 class="fw-bold">Bienvenue sur AutoReg RDC</h1>
    <p class="lead">Système futuriste de gestion des véhicules et infractions.</p>
    {% if user.is_authenticated %}
        {% if user.is_admin %}
            <a href="{% url 'user_management' %}" class="btn btn-primary btn-lg">Accéder à la Gestion Utilisateurs</a>
        {% elif user.is_agent %}
            <a href="{% url 'search_vehicle' %}" class="btn btn-success btn-lg">Rechercher un Véhicule</a>
        {% elif user.is_owner %}
            <a href="{% url 'owner_portal' %}" class="btn btn-warning btn-lg">Accéder à Mon Espace</a>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-success btn-lg">Se Connecter</a>
    {% endif %}
</div>
{% endblock %}
